{% extends "layout.html" %}
{% block content %}
    <div class='main-container'>
        <ul class="integration-list">
            <li class="integration-list-item">
                <a class="integration-list-item-link" href="{{ url_for('cart', integration="dropin") }}">
                    <div class="title-container">
                        <p class="integration-list-item-title">Drop-in</p>
                    </div>
                </a>
            </li>
            <li class="integration-list-item">
                <a class="integration-list-item-link" href="{{ url_for('cart', integration="card") }}">
                    <div class="title-container">
                        <p class="integration-list-item-title">Card</p>
                    </div>
                </a>
            </li>
            <li class="integration-list-item">
                <a class="integration-list-item-link" href="{{ url_for('cart', integration="ideal") }}">
                    <div class="title-container">
                        <p class="integration-list-item-title">iDEAL</p>
                    </div>
                </a>
            </li>
            <li class="integration-list-item">
                <a class="integration-list-item-link" href="{{ url_for('cart', integration="sepadirectdebit") }}">
                    <div class="title-container">
                        <p class="integration-list-item-title">Sepa Direct Debit</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}